body {
    margin: 3rem;    
    font-size: 1.2em;
}
blockquote {    
    margin-left: 9px;
    border-left: 2px solid #007bff;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: linear-gradient(90deg, #0555ab1f, #caf9d252 85%, transparent);
    width: 80%;
}
.btn {
    font-weight: 700;
}
.comments p {
    font-size: smaller;
    font-style: italic;
    margin-bottom: 0;
}
.labels-col {
    text-align: right;
}
.create input[type="text"], .create input[type="number"], .create select {
    width: 60%;
}
.create input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
}
