{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2 class="mb-5">
    {% if closed %}
    Auctions Won
    {% else %}
    Active Listings
    {% endif %}
    {% if category %} in category <span class="text-primary" style="font-weight: 700;">{{ category }}</span>{% endif %}</h2>
    <div class="container-fluid">
    {% for listing in listings %}
        <div class="row">
            <div class="col-md-4">
                {% static "" as baseUrl %}
                <p class="text-center"><img src="{{ baseUrl }}auctions/images/{{listing.img_file}}" style="max-height: 20rem;"></p>
            </div>
            <div class="col-md-8">
                <h3><a href="/listings/{{ listing.id }}">{{ listing.title }}</a></h3>
                <p>Listed by : {{ listing.vendor }}</p>
                <p>{{ listing.description }}</p>                
                <p>Price : ${{ listing.reserve_price }}</p>
                <p>Created {{ listing.date_listed }}</p>
            </div>          
        </div>
    {% endfor %}
    {% if not listings  %}
        <div>No Listings in category</div>
    {% endif  %}
    </div>    
{% endblock %}