{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Listing : {{ listing.title }}</h2>
    <div class="container-fluid">
    
        <div class="row">
            <div class="col-12">
                {% static "" as baseUrl %}
                <p><img src="{{ baseUrl }}auctions/images/{{listing.img_file}}" style="max-height: 20rem;"></p>
            </div>
            <div class="col-12"> 
                <p>{{ listing.description }}</p>
                <p class="lead">${{ bid }}</p>
                <form id="form1" action="#" method="POST" >
                <div>
                    <button type="button" class="btn btn-outline-primary">Place bid</button>
                </form>
                <form id="form2" action="#" method="POST">
                    <button type="button" class="btn btn-outline-primary">Add to watchlist</button>
                </div>
                </form>
                <h2>Details</h2>
                <ul>
                    <li>Listed by : {{ listing.vendor }}</li>
                    <li>Categories : {{ categories_str }} </li>
                    <li>Created {{ listing.date_listed }}</li>
                </ul>
            </div>            
                            
        </div>
    
    </div>
    
{% endblock %}